<div class="relative max-w-6xl mx-auto">
  <div
    class="relative border w-full pb-[76.25%] h-0 overflow-hidden rounded-xl shadow-2xl"
  >
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src="https://www.youtube.com/embed/xgeRtz7EtGY?si=k2-J-OtGs0Vrbjyk"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
